html, body{
    height:100%;
}
html{
    overflow:hidden;
}
body{
    font-family:sans-serif;
    line-height:1.4em;
    color:#373a3d;
    box-sizing:border-box;
    background-image:url(../assets/FRAMEBACKGROUND00.PNG);
    background-size:cover;
}
body *{
    box-sizing:inherit;
}
a {
    text-decoration: underline;
    color: #000;
}
a:hover{
    color: #fa6ec9;
}
input[type=text]{
    color:#373a3d;
    border:1px solid #cccccc;
    border-radius:0px;
    line-height:inherit;
}
input[type=text]:focus{
    border-color:#fa6ec9;
}
#container{
    width:800px;
    max-width:90%;
    margin:auto;
    position:absolute;
    left:0;
    right:0;
    top:35%;
}
#container input{
    width:100%;
    padding:2px;
}
#container label{
    font-weight:bold;
    font-size:1.2em;
}
#container #urlinput{
    width:calc(100% - 40px);
}
#container #submitbtn{
    width:35px;
    line-height:inherit;
}
#container label, #container .button {
    text-transform: uppercase;
}
#outputfields{
    margin-top:1em;
}
#brandtag{
    position:fixed;
    top:32px;
    left:0px;
    height:53px;
    width:15px;
    background:linear-gradient(to bottom, rgba(241,13,161,1) 0%, rgba(233,80,20,1) 100%);
}
#nav{
    text-transform: lowercase;
    margin-top:52px;
    margin-left:38px;
    z-index: 99;
}
#nav h1{
    display: inline;
}
#nav a{
    color:#bfbfbf;
    text-decoration:none;
    padding-right:1em;
}
#nav a.current{
    color:#3c3c3c;
}
#nav a:hover{
    color:#828689;
}
.alignright{
    text-align:right;
}
.floatright{
    float:right;
}
.tooltip{
    display: inline-block;
    z-index: 99;
    font-size: .75em;
    width: 300px;
    margin-left: 38px;
    margin-top: 1.5em;
}
.panel {
    background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
    border:1px solid rgba(0,0,0,.19);
    box-shadow:0px 0px 19px -3px rgba(0,0,0,0.75);
    padding:1em;
}
.button{
    color:#373a3d;
    background:linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(212,212,212,1) 100%);
    font-weight:bold;
    text-decoration:none;
    border:1px solid #c4c4c4;
    border-radius:5px;
    padding:.2em;
    cursor:pointer;
}
.button:active{
    background:linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(228,228,228,1) 100%);
}
.brandtag-horiz{
    height:6px;
    width:109px;
    margin-bottom: 4px;
    background:linear-gradient(to left, rgba(241,13,161,1) 0%, rgba(233,80,20,1) 100%);
}
::selection {
    background:#f10da2;
    color:#fff
}